body{
    background: url(lda3.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}
.centrado {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.685);
    border: 3px solid rgba(252, 74, 4, 0.829);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
}
div {
    text-align: center;
}
.titulo{
    color: white;
    text-align: center;
}
a{
    margin-left: 600px;
    color: rgb(0, 78, 247);
}